

body
{
    
}

/* színek: */
#szin
{
    background-color: #2a9d8f;
    color: #264653;
    color: #2a9d8f;
    color: #e9c46a;
    color: #f4a261;
    color: #e76f51;
}

header
{
    
}

nav
{
    
}

article
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

main
{




}
