
/* színek: */
#szin
{
    background-color: #2a9d8f;
    color: #264653;
    color: #2a9d8f;
    color: #e9c46a;
    color: #f4a261;
    color: #e76f51;
}

article
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.kepszerkezet img
{
    width: 600px;
}

@media screen and (max-width:600px) {
    
    .kepszerkezet img
    {
        max-width: 400px;
    }
}