@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Open+Sans&display=swap');
/* :root {
    --color_main: #0081a7;
    --color_header: #f07167;
    --color_nav: /* #fdfcdc ;
    --color_li: #d90429/* #fed9b7 ;
    --color_li_hover: #ffc790;
    --color_article: #00afb9;
    --color_footer: #fed9b7;
  } 
  */

body, main, article, footer, nav ul, header, nav ul li 
{
    background-color: #001233;
}



header, nav, article, aside, footer, li 
{
    padding: 5px;
}


*
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

main
{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 5px;
    border-radius: 5px;
}

header {
    text-align: center;
    background-color: #bf0603;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 25pt;
}

nav img
{
    max-width: 50px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    
}


nav ul li:hover 
{
    
    background-color: #bf0603;
}

nav ul li a 
{
    display: block;
    text-decoration: none;
    color: black;
}

nav ul li a:hover 
{
    color: white;
}


footer 
{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    background-color: #ffb703;
    width: 80%;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
}

@media screen and (max-width:600px) {
    article
    {
        flex-wrap: wrap;
    }

}

